## Program to **Swap** Two Variable

In [139]:
x = input("Enter the value of 1st Variable: ")
y = input("Enter the value of 2nd Variable: ")

print(f"Original Values x = {x}, y = {y}")
x, y = y, x

print(f"Swapped Values x = {x}, y = {y}")

Enter the value of 1st Variable:  234
Enter the value of 2nd Variable:  125

Original Values x = 234, y = 125
Swapped Values x = 125, y = 234

# Display Calendar

In [138]:
import calendar
year = int(input("Enter year: "))
month = int(input("Enter month: "))
cal = calendar.month(year, month)

print()                               # For space between lines

print(cal)

Enter year:  2024
Enter month:  7

     July 2024
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

## Program to **Reverse a Number**

- #### by **While** Loop

In [52]:
number = int(input("Enter a number: "))
rev_n = 0
while number > 0:
    digit = number % 10
    rev_n = rev_n * 10 + digit
    number = number // 10
print("Reversed number = ", rev_n)

Enter a number:  76549

Reversed number =  94567

- #### by **For** Loop

In [78]:
n = int(input("Enter the Number: "))
rn = 0                                # Initialize the reversed number to '0'
n_str = str(n)                        # Convert the number to a string to determine its length
for i in range(len(n_str)):
    digit = n % 10                    # Get the last digit
    rn = rn * 10 + digit              # Add it to the reversed number
    n = n // 10                       # Remove the last digit from the original number
print("Reversed Number:", rn)

Enter the Number:  654

Reversed Number: 456

- #### by **Slicing**

In [97]:
str_num = input("Enter the number: ")  # Enter the number, here will store in string type
rs = str_num[::-1]                     # Reverse slicing the string type number
int_num = int(rs)                      # Covert the string type number into integer
print("Reversed Number: ", int_num)    # Print the reversed number
print(type(int_num))                   # Check the number type (integer)

Enter the number:  7629

Reversed Number:  9267
<class 'int'>

## Program to **Reverse a String**

In [23]:
string = input("Enter any String: ")
rs = string[::-1]
print("Reverse string: ", rs)

Enter any String:  post

NP
Reverse string:  tsop

## Program for **Fibonacci** Series

In [93]:
n= 12                     # initialize the lenght of the series
a, b = 0, 1               # initialize forst two numbers
print(a, b, end = " ")    # print first two numbers
for i in range(2, n):     # run loop till length of series(n)
    a, b = b, a + b       # here 'b' takes the value of 'a + b' every time till loop runs lenght of the series
    print(b, end=' ')     # print 'b' till length of series

0 1 1 2 3 5 8 13 21 34 55 89

## Program to Find Weather the Number/String is **Palindrome** or Not

In [197]:
num_or_str = input("Enter a number")
if num_or_str == num_or_str[::-1]:
    print("Yes its a palindrome")
else:
    print("No, its not a palindrome")

Enter a number AFIFA

Yes its a palindrome

## Program to Find **Prime Numbers** in Given Range

In [144]:
x = int(input("Start of range (should be >=2): "))
y = int(input("End of range: "))
count = 0
print(f"Prime numbers between {x} and {y} =", end = ' ')
if x >= 2:
 for i in range(x, y):
     for j in range(2, i):
        if i % j == 0:
         break
     else:
      print(i, end = ', ')
      count += 1
 print("\n Count of prime numbers =", count)

Start of range (should be >=2):  2
End of range:  50

Prime numbers between 2 and 50 = 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47,
 Count of prime numbers = 15

## **Sum** and **Average** of any desired 'n' random numbers

In [346]:
Sum = 0
count = int(input("Enter the count: "))

for i in range(count):
 num = float(input("Enter the numbers: "))
Sum = Sum + num
avg = Sum/count
print("Sum of all numbers = ",Sum)
print(f"Average of numbers = {avg:.2f}")

Enter the count:  3
Enter the numbers:  65
Enter the numbers:  78
Enter the numbers:  36

Sum of all numbers =  36.0
Average of numbers = 12.00

## Program to Find Weather the given Number is **Prime Number** or Not

In [193]:
x = int(input("Enter a number: "))
if x >= 2:
 for i in range(2, x):
      if x % i == 0:
         print(x, " is not a Prime number")
         break
 else:
    print(x, " is a Prime number")

Enter a number:  98

98  is not a Prime number

## Program to find **Factorial** of a Number

In [132]:
x = int(input("Enter Factorial: "))
fact = 1
for i in range(1, x + 1):
  fact = fact*i
print(f"Factorial of - 1x2x3x.....x{x} = {fact}")

Enter Factorial:  5

Factorial of - 1x2x3x.....x5 = 120

## Sum of the **Series**

In [255]:
x = int(input("Enter Range: "))
Sum = 0
for i in range(1, x+1):
 Sum = Sum + i
print(f"Sum of series - 1+2+3+.....+{x} = {Sum}")

Enter Range:  12

Sum of series - 1+2+3+.....+12 = 78

## Program to Check Number is **Armstrong** Number

In [364]:
num = int(input("Enter a number: "))
Sum = 0

temp = num
while temp > 0:
   digit = temp % 10
   Sum += digit ** 3                          # find the sum of the cube of each digit
   temp //= 10

if num == Sum:                                # display the result
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number:  4563

4563 is not an Armstrong number

## Program to Count Number of digits in a Number

In [19]:
number = int(input("Enter a number: "))
digit_count = str(number)
print("Number of digits:", len(digit_count))

Enter a number:  6703

Number of digits: 4

## Program to Count Number of Even and Odd Digits in a Number

In [17]:
number = input("Enter a number: ")
even_count = 0
odd_count = 0
for digit in(number):
    if int(digit) % 2 == 0:
        even_count += 1
    else:
        odd_count += 1
print("Even digits:", even_count)
print("Odd digits:", odd_count)

Enter a number:  875093

Even digits: 2
Odd digits: 4

## Program to Find Number is **Even** or **Odd**

In [32]:
number = int(input("Enter a number"))
if number % 2 == 0:
    print(f"Number ({number}) is even")
else:
    print(f"Number ({number}) is odd")

Enter a number 65

Number (65) is odd

## Program to Find **Sum of Digits** in a Number

- #### by **For** Loop (method - 1)

In [66]:
number = input("Enter a number: ")
sum_dig = 0
for digit in(number):
   sum_dig = sum_dig + int(digit)
print(sum_dig)

Enter a number:  8736

24

- #### by **For** Loop (method - 2)

In [151]:
number = int(input("Enter a number: "))
sum_dig = 0
for digit in (str(number)):
    digit = number % 10
    sum_dig = sum_dig + digit
    number = number // 10
print(f"Sum of Digits =  {sum_dig}")

Enter a number:  654

Sum of Digits =  15

- #### by **while** Loop

In [208]:
number = int(input("Enter a number: "))
sum_dig = 0
while number > 0:
    digit = number % 10
    sum_dig = sum_dig + digit
    number = number // 10
print(f"Sum of Digits =  {sum_dig}")

Enter a number:  9856

Sum of Digits =  28

## Program to Find the **Largest Number**

- ### by **List**

In [198]:
mylist = []                                     # creating an empty list
n = int(input("Enter number of elements : "))   # number of elements as input
for i in range(0, n):                           # iterating till the range
	elements = int(input())                     # adding the element
	mylist.append(elements)
print("Largest number is: ", max(mylist))

Enter number of elements :  5
 43
 65
 78
 43
 56

Largest number is:  78

- ### by User input

In [196]:
a = int(input("Enter 1st number: "))
b = int(input("Enter 2nd number: "))
c = int(input("Enter 3rd number: "))
if a > b and a > c:
    print(f"Largest number is: {a}")
elif b > c:
    print(f"Largest number is: {b}")
else:
    print(f"Largest number is: {c}")

Enter 1st number:  45
Enter 2nd number:  78
Enter 3rd number:  93

Largest number is: 93

## Program to Find the Largest and Smallest digit in a number

In [355]:
mylist = []
num = input("Enter number: ")
for i in(num):
 print(i, end = '  ')
 mylist.append(i)
print("\nList of digits: ", mylist)
print("Smallest digit is :", min(mylist))
print("Largest digit is :", max(mylist))

Enter number:  5903

5  9  0  3
List of digits:  ['5', '9', '0', '3']
Smallest digit is : 0
Largest digit is : 9

## Program to Generate Random Number and String

- ### Random Number

In [294]:
import random

for i in range(5):
 randnum = random.randint(1, 11)   # OR randnum = random.randrange(1, 11)
 
 print(randnum)

4
6
2
10
3

- ### Random Letter

In [289]:
import random
import string

for i in range(5):
 ranletter = random.choice(string.ascii_letters)

 print("Random letter:", ranletter)

Random letter: L
Random letter: H
Random letter: x
Random letter: p
Random letter: I

- ### Random String

In [278]:
import random
import string

# Specify the number of random letters to generate
num_letters = int(input("Enter the number of random letters: "))

# Generate the specified number of random letters
random_letters = ''.join(random.choice(string.ascii_letters) for i in range(num_letters))

print("Random letters:", random_letters)

Enter the number of random letters:  4

Random letters: PIlQ

## Program to find the Sum of Elements in Array

- ### Method-1

In [3]:
x = input("Enter numbers separated by spaces: ")
y = x.split()
z = map(int, y)
arr = list(z)
tot_sum = sum(arr)

print("Array :", arr)
print("Sum of the array is:", total_sum)

Enter numbers separated by spaces:  65 78 32 90 67 83

Array : [65, 78, 32, 90, 67, 83]
Sum of the array is: 179

- ### Method-2

In [5]:

arr = list(map(int, input("Enter numbers separated by spaces: ").split()))  # Get input from the user as a list of numbers
                                                                            # (converted from string to integers)
total_sum = sum(arr)                                                        # Calculate the sum of elements in the array

print("Array: ", arr)
print("Sum of the array is:", total_sum)                                    # Print the sum of the array elements

Enter numbers separated by spaces:  54 67 34 92

Array:  [54, 67, 34, 92]
Sum of the array is: 247

## Program to Print **Even** and **Odd** Numbers in Array

In [2]:
x = input("Enter numbers separated by spaces: ")
y = x.split()
z = map(int, y)
arr = list(z)

print("Even Numbers: ", end=' ')
for i in arr:
    if i % 2 == 0:
        print(i, end=' ')
print()

print("Odd Numbers: ", end=' ')
for j in arr:
    if j % 2 != 0:
        print(j, end=' ')

Enter numbers separated by spaces:  23 45 68 70 29 44 502 17 422

Even Numbers:  68 70 44 502 422
Odd Numbers:  23 45 29 17

## Program to Check 2 Arrays are **Equal** or **Not**

In [13]:
try:
    
   arr1 = list(map(int, input("Enter first array numbers separated by spaces: ").split()))

   arr2 = list(map(int, input("Enter second array numbers separated by spaces: ").split()))

   if sorted(arr1) == sorted(arr2):
       print("arr1 and arr2 have the same elements")
   else:
       print("arr1 and arr2 do not have the same elements")

except ValueError:
    print("Please enter valid numbers separated by spaces.")

Enter first array numbers separated by spaces:  34 23
Enter second array numbers separated by spaces:  34 32

arr1 and arr2 do not have the same elements

## Program to Find **Missing Number** in Array

In [8]:
arr = list(map(int, input("Enter array numbers separated by spaces: ").split()))    # Input array from user starting from 1

n = len(arr) + 1                              # Calculate the expected length (n)
total_sum = n * (n + 1) // 2                  # Calculate the sum of all numbers from 1 to n

actual_sum = 0                                # Initialize the actual sum to 0
for num in arr:                               # Calculate the sum of the numbers in the given array
    actual_sum += num

missing_number = total_sum - actual_sum       # The missing number is the difference between the expected sum and actual sum

print(f"The missing number is: {missing_number}")

Enter array numbers separated by spaces:  1 2 3 4 5 6 7 9

The missing number is: 8

## Program to Find the **Max** and **Min** Element in Array

In [15]:
arr = list(map(int, input("Enter array numbers separated by spaces: ").split()))

mxm_elm = max(arr)
mnm_elm = min(arr)

print("Maximum element of array: =", mxm_elm)
print("Minimum element of array: =", mnm_elm)

Enter array numbers separated by spaces:  32 45 -9 43 0 -12

Maximum element of array: = 45
Minimum element of array: = -12

## Program to Find **Second Largest** Number in Array

In [19]:
arr = list(map(int, input("Enter array numbers separated by spaces: ").split()))

                                                 # Initialize variables to store the largest and second largest numbers
largest = arr[0]                                 # Start with the first element as the largest
second_largest = arr[0]                          # Start with the first element as the second largest

                                   # First pass to find the largest number
for i in range(1, len(arr)):
    if arr[i] > largest:
        largest = arr[i]

                                   # Second pass to find the second largest number
for i in range(0, len(arr)):
    if arr[i] != largest and arr[i] > second_largest:
        second_largest = arr[i]

if largest == second_largest:      # If the array has only one unique value
    print("There is no second largest number.")
else:
    print(f"The second largest number is: {second_largest}")

Enter array numbers separated by spaces:  23 45 23 67 99 98 43

The second largest number is: 98

## Program to Find the **Duplicate** Number in Array

In [18]:
arr = list(map(int, input("Enter array numbers separated by spaces: ").split()))  # Input array from user

duplicate = -1                                     # Initialize duplicate to -1 (assuming no duplicates found)

for i in range(len(arr)):                          # Iterate through the array
    for j in range(i + 1, len(arr)):               # Check for duplicates by comparing each element with the others
        if arr[i] == arr[j]:                       # If a duplicate is found
            duplicate = arr[i]
            break                                  # Exit inner loop
    if duplicate != -1:
        break                                      # Exit outer loop if duplicate found

if duplicate != -1:
    print(f"The duplicate number is: {duplicate}")
else:
    print("No duplicate number found.")

Enter array numbers separated by spaces:  32 43 54 65 32 78

The duplicate number is: 32

## Program to Remove all the **White Space** in a String

In [29]:
str1 = input("Enter the string: ")
joint_str = str1.replace(" ", "")
print("String without space :", joint_str)

Enter the string:  Please    bring 11   chocolates  .

String without space : Pleasebring11chocolates.

## Program to Count the **Occurrence** of a Character in a String

In [43]:
str1 = input("Enter the string: ")
counter = str1.count('A') + str1.count('a')
counter1 = str1.count('E') + str1.count('e')
print("Count of 'a' in the string: ", counter)
print("Count of 'e' in the string: ", counter1)

Enter the string:  Elephants leave water

Count of 'a' in the string:  3
Count of 'e' in the string:  5

## Program to **Count Words** in a String

In [61]:
str1 = input("Enter the string: ")
counter = str1.count(" ") + 1
print("Number of words in the string: ", counter)

Enter the string:  I am looking for a Job in the field of Data Analytics.

Number of words in the string:  12

## Program to **Count letters** excluding spaces in a String

In [76]:
str1 = input("Enter the string: ")
counter = len(str1) - str1.count(" ")
print("Number of letters excluding spaces in the string: ", counter)

Enter the string:  Apple is a fruit.

Number of letters excluding spaces in the string:  14

## Program to **Reverse** Each Word in a String

In [87]:
str1 = input("Enter the string: ")           # Enter a string
splt = str1.split()                          # Split the words from the string
rev = list(map(lambda x: x[::-1], splt))     # Use the 'lambda' function to reverse the splitted words on same place as a list
rev_str = ' '.join(rev)                      # Convert the list into 'string'
print("Reverse of the string is: ", rev_str)

Enter the string:  You like to play cricket

Reverse of the string is:  uoY ekil ot yalp tekcirc

## Program to Remove `Junk` or `Special` character in a String

In [106]:
str1 = input("Enter the string: ")
str2 = ''
print("String without special/junk characters: ", end = '')
for i in str1:
    if i.isalnum():
      str3 = str2.join(i)
      print(str3, end = '')

Enter the string:  !@$5Follow Code Yatra

String without special/junk characters: 5FollowCodeYatra

## Program to Search an Element in Array (**_Linear Search_**)

In [114]:
arr = list(map(int, input("Enter array numbers separated by spaces: : ").split()))
target = int(input("Enter the target number: "))

for i in range(len(arr)):                     # Perform Linear Search
    if arr[i] == target:
        print(f"Element found at index {i}")
        break
else:
    print("Element not found")

Enter array numbers separated by spaces: :  12 76 54 98 32 99
Enter the target number:  54

Element found at index 2

## Program to Search an Element in Array (**_Binary Search_**)

In [116]:
arr = list(map(int, input("Enter sorted array numbers separated by spaces: ").split()))
target = int(input("Enter the target number: "))

left = 0                                              # Initialize the search bounds
right = len(arr) - 1

while left <= right:                                  # Perform Binary Search        
    mid = (left + right) // 2
    if arr[mid] == target:
        print(f"Element found at index {mid}")
        break
    elif arr[mid] < target:
        left = mid + 1
    else:
        right = mid - 1
else:
    print("Element not found")

Enter sorted array numbers separated by spaces:  12 76 54 98 32 99
Enter the target number:  54

Element found at index 2

## Program to Sort Elements in Array (**Bubble Sort**)
- Bubble Sort: Repeatedly swaps adjacent elements.
- Bubble Sort repeatedly swaps adjacent elements if they are in the wrong order. It "bubbles" the largest elements to the end.

In [3]:
arr = list(map(int, input("Enter sorted array numbers separated by spaces: ").split()))

for i in range(len(arr)):
    for j in range(len(arr) - i - 1):
        if arr[j] > arr[j + 1]:
            arr[j], arr[j + 1] = arr[j + 1], arr[j]     # Swaping the values

print("Sorted Elements in Array: ", arr)

Enter sorted array numbers separated by spaces:  12 34 54 32 78 9 45 67 21 39

Sorted Elements in Array:  [9, 12, 21, 32, 34, 39, 45, 54, 67, 78]

## Program to Sort Elements in Array (**Selection Sort**)
- Selection Sort: Repeatedly selects the minimum element.
- Selection Sort finds the smallest element in the unsorted part and swaps it with the first unsorted element.

In [4]:
arr = list(map(int, input("Enter sorted array numbers separated by spaces: ").split()))

for i in range(len(arr)):
    min_index = i
    for j in range(i + 1, len(arr)):
        if arr[j] < arr[min_index]:
            min_index = j
    arr[i], arr[min_index] = arr[min_index], arr[i]     # Swaping the values

print("Sorted Elements in Array: ", arr)

Enter sorted array numbers separated by spaces:  12 34 54 32 78 9 45 67 21 39

Sorted Elements in Array:  [9, 12, 21, 32, 34, 39, 45, 54, 67, 78]

## Program to Sort Elements in Array (**Selection Sort**)
- Heap Sort: Uses a heap to sort elements.

In [9]:
import heapq

arr = list(map(int, input("Enter sorted array numbers separated by spaces: ").split()))

heapq.heapify(arr)                                           # Convert list into a heap
sorted_arr = [heapq.heappop(arr) for _ in range(len(arr))]

print("Sorted Elements in Array: ", sorted_arr)

Enter sorted array numbers separated by spaces:  12 34 54 32 78 9 45 67 21 39

Sorted Elements in Array:  [9, 12, 21, 32, 34, 39, 45, 54, 67, 78]

## **Number Pattern**: Repeating numbers `Right-Angled Triangle`

In [85]:
for i in range(1, 10):
    for j in range(0, i):
        print(i, end = " ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

## **Number Pattern**: Incremental or Floyd's numbers `Right-Angled Triangle`

In [103]:
num = 1
for i in range(1, 5):
    for j in range(0, i):
        print(num, end = " ")
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10

## **Number Pattern**: Sequential numbers `Right-Angled Triangle`

In [39]:
for i in range(1, 11):
    for j in range(1, i):
        print(j, end = " ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9

## **Number Pattern**: Palindrome numbers `Right-Angled Triangle`

In [209]:
for i in range(1, 6):
    for j in range(1, i + 1):
        print(j, end = " ")
    for k in range(i -1, 0, -1):
        print(k, end = " ")
    print()

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

## **Number Pattern**: Sequential numbers `Inverted Right-Angled Triangle`

In [20]:
for i in range (10, 1, -1):
    for j in range (1, i):
        print(j, end = " ")
    print()

1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

## **Number Pattern**: Sequential numbers `Pyramid`

In [406]:
x = 7
for i in range(0, x):
  for j in range(0, x-i):
   print(' ', end = '')
  for k in range(1, i+1):
   print(k, end= ' ')           # Can use '*' instead of '' to print star pyramid
  print()

      1
     1 2
    1 2 3
   1 2 3 4
  1 2 3 4 5
 1 2 3 4 5 6

## **Number Pattern**: Sequential numbers `Inverted Pyramid`

In [322]:
x = 6
for i in range(x, 0, -1):
  for j in range(0, x-i):
   print(' ', end = '')
  for k in range(1, i+1):
   print(k, end= ' ')
  print()

1 2 3 4 5 6
 1 2 3 4 5
  1 2 3 4
   1 2 3
    1 2
     1

## **Number Pattern**: Palindrome/Mirrored numbers `Pyramid`

In [252]:
x = 10                                   # Number of rows

for i in range(1, x):                    # Outer loop for the number of rows
   
    for j in range(x - i):               # Print leading spaces
        print(' ', end=' ')

    for k in range(1, i + 1):            # Print increasing numbers
        print(k, end=' ')

    for l in range(i - 1, 0, -1):        # Print decreasing numbers
        print(l, end=' ')

    print()                              # New line after each row

                  1
                1 2 1
              1 2 3 2 1
            1 2 3 4 3 2 1
          1 2 3 4 5 4 3 2 1
        1 2 3 4 5 6 5 4 3 2 1
      1 2 3 4 5 6 7 6 5 4 3 2 1
    1 2 3 4 5 6 7 8 7 6 5 4 3 2 1
  1 2 3 4 5 6 7 8 9 8 7 6 5 4 3 2 1

## **Number Pattern**: Repeating numbers `Pyramid`

In [270]:
x = 10
for i in range(0, x):
    for j in range(0, x - i):
        print(' ', end='')
    for k in range(1, i+1):
        print(i, end=' ')
    print()

         1
        2 2
       3 3 3
      4 4 4 4
     5 5 5 5 5
    6 6 6 6 6 6
   7 7 7 7 7 7 7
  8 8 8 8 8 8 8 8
 9 9 9 9 9 9 9 9 9

## **Number Pattern**: Sequential numbers `Square`

In [321]:
n = 6

for i in range(1, n):
    for j in range(1, n):
        print(j, end = " ")
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

## **Number Pattern**: Sequential numbers `Diamond`

In [302]:
x = 7
for i in range(0, x):
  for j in range(0, x-i):
   print(' ', end = '')
  for k in range(1, i+1):
   print(k, end= ' ')
  print()

for i in range(x, 0, -1):
  for j in range(0, x-i):
   print(' ', end = '')
  for k in range(1, i+1):
   print(k, end= ' ')
  print()

      1
     1 2
    1 2 3
   1 2 3 4
  1 2 3 4 5
 1 2 3 4 5 6
1 2 3 4 5 6 7
 1 2 3 4 5 6
  1 2 3 4 5
   1 2 3 4
    1 2 3
     1 2
      1

## **Number Pattern**: Zig-Zag/Snake like flow `Right-Angled Triangle`

In [70]:
cols = 5                                                     # Define the size of the matrix (rows and columns)
rows = 4
num = 1                                                      # Initialize the number to be printed

matrix = [[0 for _ in range(cols)] for _ in range(rows)]     # Create an empty matrix

for i in range(rows):                                        # Fill the matrix with the snake-like pattern
    if i % 2 == 0:
        for j in range(cols):                                # Fill left to right for even rows
            matrix[i][j] = num
            num += 1
    else:
        for j in range(cols - 1, -1, -1):                    # Fill right to left for odd rows
            matrix[i][j] = num
            num += 1

for row in matrix:                                           # Print the matrix
    print(' '.join(map(str, row)))

1 2 3 4 5
10 9 8 7 6
11 12 13 14 15
20 19 18 17 16

## **Star (*) Pattern**: `Right-Angled Triangle`

In [76]:
for i in range(1, 10):
    print('* ' * i)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

## **Star (*) Pattern**: `Inverted Right-Angled Triangle`

In [167]:
for i in range (9, 0, -1):
 print("* " * i)

* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

## **Star (*) Pattern**: `Pyramid`

In [295]:
n = 11
for i in range(1, n):
    print(' ' * (n - i) + '* ' * i)

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *

## **Star (*) Pattern**: `Inverted Pyramid`

In [194]:
n = 10
for i in range(n, 0, -1):
    print(' ' * (n - i) + ' *' * i)

 * * * * * * * * * *
  * * * * * * * * *
   * * * * * * * *
    * * * * * * *
     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *

## **Star (*) Pattern**: `Diamond`

In [10]:
n = 10
for i in range(1, n):
    print(' ' * (n - i) + ' *' * i)
for i in range(n, 0, -1):
    print(' ' * (n - i) + ' *' * i)

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *
  * * * * * * * * *
   * * * * * * * *
    * * * * * * *
     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *

## **Star (*) Pattern**: `X-Filled`

In [516]:
n = 8
for i in range(n, 0, -1):
    print(' ' * (n - i) + ' *' * i)
for i in range(1, n + 1):
    print(' ' * (n - i) + ' *' * i)

 * * * * * * * *
  * * * * * * *
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *
        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *

## **Star (*) Pattern**: `Hollow Square`

In [519]:
n = 7

for i in range(n):
    for j in range(n):
        if i == 0 or i == n - 1 or j == 0 or j == n - 1:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

* * * * * * *
*           *
*           *
*           *
*           *
*           *
* * * * * * *

## **Star (*) Pattern**: `+`

In [521]:
n = 7

for i in range(n):
    for j in range(n):
        if i == n // 2 or j == n // 2:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

      *
      *
      *
* * * * * * *
      *
      *
      *

## **Star (*) Pattern**: `X`

In [350]:
n = 7

for i in range(n):
    for j in range(n):
        if j == i or j == n - i - 1:
            print('*', end='')
        else:
            print(' ', end='')
    print()

*     *
 *   *
  * *
   *
  * *
 *   *
*     *

## **Alphabet Pattern**: Sequential letters `Right-Angled Triangle`

In [46]:
n = 6
for i in range(0, n):
    for j in range(0, i + 1):
        print(chr(65 + j), end = ' ')
    print()

A
A B
A B C
A B C D
A B C D E
A B C D E F

## **Alphabet Pattern**: Palindrome/Mirrored letters `Right-Angled Triangle`

In [45]:
n = 5
for i in range(0, n):
    for j in range(0, i + 1):
        print(chr(65 + j), end = " ")
    for j in range(i, 0, -1):
        print(chr(65 + j - 1), end = " ")
    print()

A
A B A
A B C B A
A B C D C B A
A B C D E D C B A

## **Alphabet Pattern**: Alternating letters `Right-Angled Triangle`

In [127]:
n = 7
for i in range(0, n):
    for j in range(i):
        if (i + j) % 2 == 0:
            print('B', end = ' ')             # Print 'B' if the sum of row and column indices is even, otherwise print 'B'
        else:
            print('A', end = ' ')   
    print()

A
B A
A B A
B A B A
A B A B A
B A B A B A

## **Alphabet Pattern**: Sequential letters Lowercase `Right-Angled Triangle`

In [48]:
n = 6
for i in range(0, n):
    for j in range(i + 1):
        print(chr(97 + j), end = ' ')
    print()

a
a b
a b c
a b c d
a b c d e
a b c d e f

## **Alphabet Pattern**: Sequential letters `Inverted Right-Angled Triangle`

In [372]:
n = 5
for i in range(n, -1, -1):
    for j in range(i + 1):
        print(chr(65 + j), end=' ')
    print()

A B C D E F
A B C D E
A B C D
A B C
A B
A

## **Alphabet Pattern**: Repeating letters `Pyramid`

In [15]:
n = 8
for i in range(0, n):
    print(' ' * (n - i), end = ' ')
    for j in range(i + 1):
        print(chr(65 + i), end = ' ')
    print()

         A
        B B
       C C C
      D D D D
     E E E E E
    F F F F F F
   G G G G G G G
  H H H H H H H H

## **Alphabet Pattern**: Centered letters `Pyramid`

In [14]:
n = 8
for i in range(0, n):
    print(' ' * (n - i), end = ' ')
    for j in range(i + 1):
        print(chr(65 + j), end = ' ')
    print()

         A
        A B
       A B C
      A B C D
     A B C D E
    A B C D E F
   A B C D E F G
  A B C D E F G H

## **Alphabet Pattern**: Sequential letters `Pyramid`

In [123]:
n = 8
for i in range(0, n):
    print('  ' * (n - i), end=' ')
    for j in range(2 * i + 1):
        print(chr(65 + j), end=' ')
    print()

                 A
               A B C
             A B C D E
           A B C D E F G
         A B C D E F G H I
       A B C D E F G H I J K
     A B C D E F G H I J K L M
   A B C D E F G H I J K L M N O

## **Alphabet Pattern**: Sequential letters `Inverted Pyramid`

In [11]:
n = 8
for i in range(n, 0, -1):
    print('  ' * (n - i), end=' ')
    for j in range(2 * i - 1):
        print(chr(65 + j), end=' ')
    print()

 A B C D E F G H I J K L M N O
   A B C D E F G H I J K L M
     A B C D E F G H I J K
       A B C D E F G H I
         A B C D E F G
           A B C D E
             A B C
               A

## **Alphabet Pattern**: Sequential letters `Diamond`

In [525]:
n = 8
for i in range(0, n):
    print('  ' * (n - i), end=' ')
    for j in range(2 * i + 1):
        print(chr(65 + j), end=' ')
    print()

for i in range(n - 1, 0, -1):
    print('  ' * (n - i + 1), end=' ')
    for j in range(2 * i - 1):
        print(chr(65 + j), end=' ')
    print()

                 A
               A B C
             A B C D E
           A B C D E F G
         A B C D E F G H I
       A B C D E F G H I J K
     A B C D E F G H I J K L M
   A B C D E F G H I J K L M N O
     A B C D E F G H I J K L M
       A B C D E F G H I J K
         A B C D E F G H I
           A B C D E F G
             A B C D E
               A B C
                 A

## **Alphabet Pattern**: Zig-Zag/Snake like flow `Right-Angled Triangle`

In [64]:
n = 6                                                # Number of rows

ascii_value = 65                                     # ASCII value of 'A'
current_letter = ascii_value                         # Initialize a variable to track the current letter
for i in range(n):                                   # Loop through each row
    if i % 2 == 0:                                   # Print the current row in left-to-right order for even rows
        for j in range(i + 1):
            print(chr(current_letter), end=" ")
            current_letter += 1
    else:                                            # Print the current row in right-to-left order for odd rows
        temp = current_letter + i
        for j in range(i + 1):
            print(chr(temp), end=" ")
            temp -= 1
        current_letter += i + 1

    print()                                          # Move to the next line after each row

A
C B
D E F
J I H G
K L M N O
U T S R Q P

## **Mixed Pattern**: Stars (*) and Numbers `Right-Angled Triangle`

In [99]:
for i in range(1, 10):
    for j in range(1, i):      
        print(j, end = " ")
        print('*', end = " ")
    print()

1 *
1 * 2 *
1 * 2 * 3 *
1 * 2 * 3 * 4 *
1 * 2 * 3 * 4 * 5 *
1 * 2 * 3 * 4 * 5 * 6 *
1 * 2 * 3 * 4 * 5 * 6 * 7 *
1 * 2 * 3 * 4 * 5 * 6 * 7 * 8 *

## **Number Pattern**: Hollow `Pyramid`

In [106]:
rows = 6

for i in range(1, rows + 1):                 # Printing the hollow pyramid of numbers
    for j in range(rows - i):                # Printing spaces to center-align the numbers
        print(' ', end='')

    for j in range(1, 2 * i):                # Printing numbers with hollow spaces in between 
        if j == 1 or j == 2 * i - 1:         # Print the number only at the boundaries
            print(i, end='')
        else:
            print(' ', end='')
    print()                                  # Move to the next line

     1
    2 2
   3   3
  4     4
 5       5
6         6

## **Star Pattern**: Hollow `Pyramid`

In [118]:
rows = 6

for i in range(1, rows + 1):                 # Printing the hollow pyramid of stars
    for j in range(rows - i):                # Printing spaces to center-align the stars
        print(' ', end='')

    for j in range(1, 2 * i):                # Printing stars with hollow spaces in between
        if j == 1 or j == 2 * i - 1:         # Print stars only at the boundaries
            print('*', end='')
        else:
            print(' ', end='')
    print()                                  # Move to the next line

     *
    * *
   *   *
  *     *
 *       *
*         *

## **Star Pattern**: Hollow `Diamond`

In [128]:
rows = 8

for i in range(1, rows + 1):
    for j in range(rows - i):
        print(' ', end='')

    for j in range(1, 2 * i):
        if j == 1 or j == 2 * i - 1:
            print('*', end='')
        else:
            print(' ', end='')
    print()

                                         # Inverted Hollow Pyramid

for i in range(rows - 1, 0, -1):         # Need to change/reverse this outer loop only, rest lines will be same
    for j in range(rows - i):
        print(' ', end='')

    for j in range(1, 2 * i):
        if j == 1 or j == 2 * i - 1:
            print('*', end='')
        else:
            print(' ', end='')
    print()

       *
      * *
     *   *
    *     *
   *       *
  *         *
 *           *
*             *
 *           *
  *         *
   *       *
    *     *
     *   *
      * *
       *

## Mixed Patterns: Butterflies

In [129]:
def triangle(n):

    for i in range(1, n + 1):
      print('' * (n-i), end = ' ')          # Adjust SPACES to make RIGHT-ANGLED TRIANGLE from left, PYRAMID, RIGHT-ANGLED TRIANGLE from right
      for j in range(1, i + 1):
            print(j, end = ' ')
      print('    ' * (n-i), end = ' ')
      for j in range(i, 0, -1):
            print(j, end = ' ')
      print()
    
    for i in range(n-1, 0, -1):
      print('' * (n-i), end = ' ')
      for j in range(1, i + 1):
            print(j, end = ' ')
      print('    ' * (n-i), end = ' ')
      for j in range(i, 0, -1):
            print(j, end = ' ')
      print()
    

    print('\n')


    for i in range(1, n + 1):
      print('' * (n-i), end = ' ')          # Adjust SPACES to make RIGHT-ANGLED TRIANGLE from left, PYRAMID, RIGHT-ANGLED TRIANGLE from right
      for j in range(1, i + 1):
            print("*", end = ' ')
      print('    ' * (n-i), end = ' ')
      for j in range(i, 0, -1):
            print("*", end = ' ')
      print()

    for i in range(n-1, 0, -1):
      print('' * (n-i), end = ' ')
      for j in range(1, i + 1):
            print("*", end = ' ')
      print('    ' * (n-i), end = ' ')
      for j in range(i, 0, -1):
            print("*", end = ' ')
      print()
    
    print('\n')


    for i in range(1, n + 1):
      print('' * (n-i), end = ' ')          # Adjust SPACES to make RIGHT-ANGLED TRIANGLE from left, PYRAMID, RIGHT-ANGLED TRIANGLE from right
      for j in range(1, i + 1):
            print(chr(j + 64), end = ' ')
      print('    ' * (n-i), end = ' ')
      for j in range(i, 0, -1):
            print(chr(j + 64), end = ' ')
      print()

    for i in range(n-1, 0, -1):
      print('' * (n-i), end = ' ')
      for j in range(1, i + 1):
            print(chr(j + 64), end = ' ')
      print('    ' * (n-i), end = ' ')
      for j in range(i, 0, -1):
            print(chr(j + 64), end = ' ')
      print()


row =  5           # int(input("Please enter the number of rows: "))
triangle(row)

 1                  1
 1 2              2 1
 1 2 3          3 2 1
 1 2 3 4      4 3 2 1
 1 2 3 4 5  5 4 3 2 1
 1 2 3 4      4 3 2 1
 1 2 3          3 2 1
 1 2              2 1
 1                  1


 *                  *
 * *              * *
 * * *          * * *
 * * * *      * * * *
 * * * * *  * * * * *
 * * * *      * * * *
 * * *          * * *
 * *              * *
 *                  *


 A                  A
 A B              B A
 A B C          C B A
 A B C D      D C B A
 A B C D E  E D C B A
 A B C D      D C B A
 A B C          C B A
 A B              B A
 A                  A

### Arithmetical Operations: Addition (+), Subtraction (-), Product (*), Division (/), Remainder (%), Quotient (//)

In [140]:
x = float(input("Enter the number: "))
y = float(input("Enter the number: "))
z = x + y
print(f"Sum {x} + {y} = {z}")

a = x - y
print(f"Subtraction {x} - {y} = {a}")

b = x * y
print(f"Product {x} * {y} = {b}")

Enter the number:  45
Enter the number:  3

Sum 45.0 + 3.0 = 48.0
Subtraction 45.0 - 3.0 = 42.0
Product 45.0 * 3.0 = 135.0

In [141]:
x = float(input("Enter the number: "))
y = float(input("Enter the number: "))

if y == 0:
    print("Error: Denominator should not be ZERO")

else:
    z = x/y
    print(f"Division: {x} / {y} = {z:.2f}")             # Used '.2f' to keep 2 digits after decimal

    a = x%y
    print(f"Remainder: {x} % {y} = {a}")

    b = x//y
    print(f"Quotient: {x} // {y} = {b}")

Enter the number:  45
Enter the number:  7

Division: 45.0 / 7.0 = 6.43
Remainder: 45.0 % 7.0 = 3.0
Quotient: 45.0 // 7.0 = 6.0

## Generate a random numbers

In [143]:
import random
x = random.randint(1, 100)              # Any single Random Number between 1 to 100

y = random.randint(1, 10)               # Any single Random Number between 1 to 10

z = random.randint(150, 200)            # Any single Random Number between 150 to 200

print(f"Random Number = {x}")
print(f"Random Number = {y}")
print(f"Random Number = {z}")

Random Number = 54
Random Number = 3
Random Number = 156